@{
    ViewData["Title"] = "About Us";
}

<div class="container my-5">
    <!-- Banner eller Jumbotron -->
    <div class="text-center mb-5">
        <h1 class="display-4">About us</h1>
        <p class="lead text-secondary">Din pålitelige plattform for sunnere matvalg</p>
    </div>

<div class="features-section py-5 bg-light">
    <div class="container">
        <h2 class="text-center mb-5">Velkommen til MatPortalen</h2>
        <div class="row text-center">
            <div class="col-md-4 mb-4">
                <div class="card h-100 shadow-sm">
                    <div class="card-body">
                        <i class="bi bi-box-seam feature-icon display-4 mb-3"></i>
                        <h3 class="card-title">Our mission</h3>
                        <p class="card-text">effective tool to categorties products</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100 shadow-sm">
                    <div class="card-body">
                        <i class="bi bi-pencil-square feature-icon display-4 mb-3"></i>
                        <h3 class="card-title">Our mission</h3>
                        <p class="card-text"> - Enkel Registrering: Opprett en leverandørkonto og begynn å legge inn produkter umiddelbart.
                                            - Detaljert Produktinfo: Del ingredienser, næringsinnhold og nøkkelhullsmerket status.
                                            - Brukervennlig Grensesnitt: Naviger plattformen med letthet, enten du er leverandør eller forbruker. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100 shadow-sm">
                    <div class="card-body">
                        <i class="bi bi-bar-chart feature-icon display-4 mb-3"></i>
                        <h3 class="card-title">Get in touch!</h3>
                        <p class="card-text">Do you have any question or just cant to talk? contact us and well get back to you as soon as possible! </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

