@model ChangePasswordViewModel

<div class="container mt-5">
    <h1>Endre Passord</h1>
    <form asp-action="ChangePassword" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="mb-3">
            <label asp-for="OldPassword" class="form-label">Gammelt Passord</label>
            <input asp-for="OldPassword" class="form-control" type="password" />
            <span asp-validation-for="OldPassword" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="NewPassword" class="form-label">Nytt Passord</label>
            <input asp-for="NewPassword" class="form-control" type="password" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="ConfirmPassword" class="form-label">Bekreft Nytt Passord</label>
            <input asp-for="ConfirmPassword" class="form-control" type="password" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Endre Passord</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
