@model User

<div class="auth-container">
    <div class="row">
        <div class="col-md-6 offset-md-3 signup-section">
            <h2>Logg Inn</h2>
            <form asp-action="Login" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="mb-3">
                    <label asp-for="Email" class="form-label">E-post</label>
                    <input asp-for="Email" class="form-control" type="email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Password" class="form-label">Passord</label>
                    <input asp-for="Password" class="form-control" type="password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Logg Inn</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

